/*esto es el reset incial*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*aqui doy formato al modal de bienvenida*/

#modalBienvenida{

	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	display: none;
	z-index: 5;

}

#modalBox{

	width: 800px;
	height: 500px;
	background-color: lightgrey;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 50px;
	text-align: center;
	border-radius: 25px;

}

#modalBox>h1{

	font-size: 5rem;
	font-family: "Pinyon Script", cursiva;
	font-weight: normal;
	margin-top: 80px;

}

#modalBox>button{

	font-family: "Pinyon Script", cursiva;
	font-size: 3rem;
	padding: 20px 40px;
	border-radius: 15px;
	background-color: black;
	color: white;

}

#modalBox>button:hover{

	color: black;
	background-color: #FDBB0E;

}

#encabezado{
	
	width: 100%;
	height: 1000px;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.7);

}
.fondosHero{

	width: 100%;
	height: 1000px;
	background-size: cover;
	position: absolute;

}

#fondoHero1{

	background-image: url(../Media/Encabezado01.jpg);
	z-index: 3;

}
#fondoHero2{

	background-image: url(../Media/Encabezado02.jpg);
	z-index: 2;

}
#fondoHero3{

	background-image: url(../Media/Encabezado03.jpg);
	z-index: 1;

}
/**quitar la barra (solo scroll en horizontal)que sale al pasar las imagenes en el slide show automatico**/
body{

	overflow-x: hidden;
}

.mainSlide{

	animation-name: mainSlideAnim;
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-fill-mode: forwards;

}
.nextSlide{

	animation-name: nextSlideAnim;
	animation-iteration-count: 1;
	animation-duration: 1s;
	animation-fill-mode: forwards;
	
}

.hiddenSlide{

	display: none;
}

@keyframes mainSlideAnim{

	0%{margin-left: 0%}
	100%{margin-left: -100%}
}

@keyframes nextSlideAnim{

	0%{margin-left: 100%}
	100%{margin-left: 0%}
}


nav{

	width: 100%;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.1);
	/*overflow: hidden;*/
	font-size: 2rem;
	position: fixed;   /*SACA EL ELEMENTO,LO DEJA FIJO,ACOMPAÑA*/
	z-index: 5;
	transition-property: top, height, font-size;
	transition-duration: 0.75s;
}

#logo{

	width: auto;
	height: 100%; 
	float: left;
	display: block;
	margin-left: 100px;
	padding: 23px;
	transition-property: padding;
	transition-duration: 0.75s;
}
/* CREACION DEL MENU */

#menu{
	list-style-type: none; /*para quitar puntos del menu*/
	width: auto;
	overflow: hidden;
	float: right;
	margin-right: 75px;
	line-height: 150px;
	transition-property: line-height;
	transition-duration: 0.75;

}

/* CREAMOS LOS ELEMENTOS DEL MENU 
Y DESPUES COLOCAMOS */

.elementoMenuInicio{

	float: left;
	margin: 0px 25px;
	
}

.elementoMenuInicio > a {
	font-family: "Lobster", sans-serif;
	text-decoration: none;
/*	display: block;*/
	color: #fdfdfd;
	/*font-size: 2rem;*/
	transition-property: color;
	transition-duration: 1.5s;
}

.elementoMenuInicio > a:hover{

	color: #FDBB0E;
}

/*aqui empieza el submenu*/
#submenu{

	width: auto;
	height: 250px;
	list-style: none;
	position: absolute;
	z-index: 1;
	top: 87px;
	display: none;

}

.elemSubmenu{

	width: 100%;
	height: 50px;
	line-height: 50px;

}

.elemSubmenu >a {

	text-decoration: none;
	color: #fdfdfd;
	font-size: 1.5rem;
	font-family: "Lobster", sans-serif;
	transition-property: color;
	transition-duration: 1.5s;

}

.elemSubmenu >a:hover {

	color: #FDBB0E;

}

/*esta regla permite desplegar el submenu*/
.elementoMenuInicio:hover #submenu{

	display: block;

}

#tituloEncabezado{

	font-family: "Pinyon Script", cursiva;
	font-size: 8rem;
	text-align: center;
	position: relative;
	color: #fdfdfd;
	top: 150px;
	font-weight: normal;
	animation-name: anima;
	animation-duration: 4s;
	z-index: 4;
	
}

#textoEncabezado{

	font-family: "Lobster", sans-serif;
	font-size: 3rem;
	color: #841a0f;
	text-align: center;
	position: relative;
	top: 250px;
	padding-left: 750px;
	animation-name: animaSub;
	animation-duration: 4s;
	z-index: 4;
}

@keyframes anima {

	0% {opacity: 0; top: 300px;}
	50% {opacity: 1; top: 300px;}
	100% {opacity: 1; top: 150px;}
}

@keyframes animaSub {

	0% {opacity: 0;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

#quienes {

	width: 100%;
	height: 1000px;
	background-color: #FFF789;
	overflow: hidden;
}

.tituloPagina {

	font-family: "Protest Revolution", sans-serif;
	font-size: 2.5rem;
	/*	background-color: blueviolet;*/
	text-align: center;
	color: #117E7B;
	margin-top: 90px;
	font-weight: lighter;

}
#video{

	width: 600px;
	height: 350px;
	margin-right: 75px;
	

}

#contetenedorQuienes{

	width: 600px;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	
	margin-top: 35px;
	
}


.columnaQuienes{
	width: 600px;
	height: 350px;
/*	background-color: blueviolet;*/
	
}

.letraDescripcionQuienes > p {

	font-family: "Sansita Swashed", system-ui;
	font-size: 2.2rem;
	padding-left: 20px;
	margin-top: 30px;
	line-height: 1.5;

}

#catalogo{
	
	width: 100%;
	height: 1210px;
	overflow: hidden;
	background-image: url("../Media/Catalogo.jpg");
	background-repeat: no-repeat;
	background-size: cover;


}

#contenedorEtiquetaPestañas{

	width: 700px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	margin-top: 50px;

}

.clasificacionLetraCatalogo{

	font-family: "Sansita Swashed", system-ui;
	width: (33.33%-70px);
	font-size: 2rem;
	font-weight: bold;
	color: rgb(8, 203, 44);
	float: left;
	text-align: center;
	transition-property: color;
	transition-duration: 0.5s;
	padding-bottom: 5px;
	margin-left: 35px;
	margin-right: 35px;
	
}
.activarBoton{

	color: #5F134A;
	border-bottom-style: solid;

}

.contenedorPestañas{

	margin-top: 80px;
	width: 1275px;
	height: 800px;
	
	margin-left: auto;
	margin-right: auto;

}

.pieFotoEvento{

	width: calc(33.33% - 75px);
	height: calc(50% - 75px);
	
	
	float: left;
	margin-right: 37.5px;
	margin-left: 37.5px;
	margin-top: 37.5px;
	margin-bottom: 37.5px;

}

@keyframes aniEvento{

	from{ transform:scale(0.25,0.25);};
	to{transform: scale(1,1);};
}

.eventoAnimado{

	animation-name: aniEvento;
	animation-duration: 1s;

}

.imagenEvento{

	width: 100%;
	height: 250px;
	background-color: lightgrey;
	overflow: hidden;
	border-style: solid;
	border-color: #5F134A;
}

.imagenEvento img{

	width: 100%;
	height: 260px;
	transition-property: transform;
	transition-duration: 0.9s;

}

.imagenEvento img:hover{

	transform: scale(1.2,1.2);

}

.nombreEvento{

	font-family: "Sansita Swashed", system-ui;
	font-size: 25px;;
	text-align: center;
	color: rgb(221, 218, 218);
	margin-top: 12px;


}

#galeria{

	width: 100%;
	height: 950px;
	background-color: #FFF789;
	overflow: hidden;

}

#contenedorGaleria{

	width: 1210px;
	height: 650px;
	
	margin-top: 40px;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;

}
/* SE CREA EL TAMAÑO DE CADA IMAGEN */
.imagenesGaleria{
	width: calc(25% - 10px);
	height: calc(25% - 10px);
	background-color: orangered;
	border-style: solid;
	float: left;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;

}

.imagenesGaleria:hover{

	box-shadow: 0px 0px 7px 4px #FDBB0E;
	cursor: pointer;

}

/*aqui doy formato al lightbox*/

#modalLightBoxGal{

	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	position: fixed;
	display: none;
	top: 0px;
	z-index: 5;

}

#imageToShow{

	width: 80vw;
	height: auto;
	/*background-color: lightgrey;*/
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	/*padding: 50px;*/
	text-align: center;
	

}

.imageLightBox{

	width: 100%;
	height: auto;
	border-radius: 50px;

}

.lbBoton {

	width: 75px;
	height: 70px;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: black;
	border-style: solid;
	border-width: 5px;
	border-color: white;

}

.lbBoton:hover {

	border-color: #FDBB0E;

}

.lbbRight{

	right: 80px; 
}

.lbbLeft{

	left: 80px;
}

.lbBoton i {

	font-size: 3rem;
	color: white;
}

.lbBoton:hover i{

	color: #FDBB0E;
}

#contacto{

	width: 100%;
	height: 950px;
	overflow: hidden;
	background-image: url("../Media/Contacto.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

#contenedorContacto{

	width: 1200px;
	height: 530px;

	margin-right: auto;
	margin-left: auto;
	margin-top: 105px;
	overflow: hidden;

}

/* CONTENEDOR DEL FORMULARIO*/
#formulario{

	width: 50%;
	height: 525px;
	
	float: left;
	padding-top: 25px;
	padding-left: 40px;

}
/* CAJA PARA LA RESERVA,LAS MEDIDAS DE LAS CAJAS
DEL FORMULLACIO */
input{

	display: block;
	height: 40px;
	margin-top: 25px;
	width: 525px;
	padding-left: 10px	;

}
/* CREACION DEL BOTON ENVIAR */
#botonEnviar{

	width: 100px;
	border-style: none;
	background-color: whitesmoke;
	font-size: 1.5rem;
	padding: 5px;
	border-style: solid;
	transition-property: color, border-style, border-color, background-color;
	transition-duration: 0.5s;

}

#botonEnviar:hover{

	border-style: solid;
	border-color: white;
	background-color: #FDBB0E;
	color: darkred;

}
/*aqui doy formato al modal de reserva*/

#modalReserva{

	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0px;
	position: fixed;
	display: none;
	z-index: 5;

}

#modalBoxR{

	width: 800px;
	height: 325px;
	background-color: lightgrey;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 50px;
	text-align: center;
	border-radius: 25px;

}

#modalBoxR>h1{

	font-size: 3rem;
	font-family: "Pinyon Script", cursiva;
	font-weight: normal;
	margin-top: 20px;

}

#modalBoxR>p{

	font-size: 1.15rem;
	text-align: center;
	font-family: "Sansita Swashed", system-ui;
	margin-bottom: 40px;

}

#modalBoxR>button{

	font-family: "Pinyon Script", cursiva;
	font-size: 2.5rem;
	padding: 10px 15px;
	border-radius: 15px;
	background-color: black;
	color: white;

}

#modalBoxR>button:hover{

	color: black;
	background-color: #FDBB0E;

}
/*INDICAMOS POSICION DEL MAPA */
#map{
	float: left;
}
/* aqui empieza el footer*/
#pie{

	width: 100%;
	height: 60px;
	background-color: rosybrown;
}

.imagenRrss{

	width: 50px;
	height: 50px;
	float: left;
	margin-right: auto;
	margin-left: 5px;
	margin-top: 3px;
	margin-bottom: 5px;
	

}

.colocacionRrss{

	float: left;
	margin: 500px 25px;
	line-height: 15px; /*para poner espacio entre palabras menu*/
	margin-top: 10px;
}

#ContenedorFot{

	width: 300px;
	height: 75px;
/*	background-color: yellow;*/
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;

}
#reloj {
	font-size: 2rm;
	font-family: 'Courier New', Courier, monospace;
	align-items: center;
	color: whitesmoke;
	border-color: #fdfdfd;
}

